*{
    margin: 0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/1624021592.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    
}
.logo{
    width: 50px;
    cursor pointer;
}
.menu-icon{
    width:30px;
    cursor: pointer;
    margin-left:40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis:50%;
    
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: darkgoldenrod;
    font-size: 11px;
    line-height: 15px;

}
button {
    width: 180px;
    color:#000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    
}
.pic{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.tourist{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
     background-image: url(images/1617352337.jpg);
}
.card2{
     background-image: url(images/anime.jpg);
}
.card3{
     background-image: url(images/kimono-dress-anime-girl-4k-cw.jpg);
}
.card4{
     background-image: url(images/cherry-blossom.jpg);
}
.card5{
    background-image: url(images/anime-iphone-wallpaper-800x500.jpg);
}
.card10{
    background-image: url(images/wp2771916.jpg);
}
.card11{
    background-image: url(images/shin-w-16-9-2.jpg);
}
.card12{
    background-image: url(images/osaka.jpg);
}
.card6{
    background-image: url(images/Culture.jpg);
}
.card7{
    background-image: url(images/Japan-Matsuri.jpg);
}
.card8{
    background-image: url(images/japan_kimono.jpg);
}
.card9{
    background-image: url(images/amazing-places-japan-fb3.png);
}

.card:hover{
    transform: translateY(-10px);
}
.pic:hover{
    transform: translateY(-10px);
}
.tourist:hover{
    transform: translateY(-10px);
}
h5 a{
    color: #fff;
    text-shadow: 0 0 5px #999;

}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}









